body {
    margin: 0;
    padding: 0;
    text-align: center;
}

main {
    width: 70%;
    margin: 0 auto;
    border: 3px dashed white;
    padding-bottom: 70px;
}

#nameInput1 {
    margin: 20px 0 5px;
    border: 2px solid;
}

#playerOfTime {
    margin-bottom: 40px;
    color: rgb(198, 255, 212);
}

#game {

    width: 500px;
    height: 500px;
    border: 4px solid rgb(255, 255, 255);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.op {
    font-size: 7em;
    width: 32.9%;
    height: 33%;
    background-color: rgb(65, 66, 65);
    border: 1px solid rgb(0, 0, 0);
    justify-content: center;
    text-decoration: none;
    color: white;    
    transition: all .3s;
}

.op:hover {
    cursor: pointer;
    filter: brightness(1.4);
}

.sucess {
    background-color: greenyellow;
    filter: brightness(1.1);
    color: black;
    transition: all .3s;
}